@model WebCaixa.Models.NotasViewModel
@{
    ViewData["Title"] = "Caixa";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Notas</h1>
    <p></p>
</div>
@using (Html.BeginForm("Gravar", "Notas", FormMethod.Post))
{
    <div class="text-center">
        <p>
            @Html.HiddenFor(m => m.IdNotas10)
            Notas 10: @Html.TextBoxFor(m => m.QuantidadeNotas10)
        </p>
    </div>
    <div class="text-center">
        <p>
            @Html.HiddenFor(m => m.IdNotas20)
            Notas 20: @Html.TextBoxFor(m => m.QuantidadeNotas20)
        </p>
    </div><div class="text-center">
        <p>
            @Html.HiddenFor(m => m.IdNotas50)
            Notas 50: @Html.TextBoxFor(m => m.QuantidadeNotas50)
        </p>
    </div><div class="text-center">
        <p>
            @Html.HiddenFor(m => m.IdNotas100)
            Notas 100: @Html.TextBoxFor(m => m.QuantidadeNotas100)
        </p>
    </div>
    <div class="text-center">
        <input type="submit" value="Gravar" />
    </div>

}